<div class="wprofile-content section-nude">
  <div class="container profile-content section-nude" ng-controller="AboutController">
    <div class="row">
      <div class="col-xs-12">
        <h3>About Us</h3>
        <hr></div>
    </div>

    <div class="row row-content">
      <div class="col-xs-12 col-sm-8">
        <p>
            Goal is to make JavaScript News the destination to share and discover new, innovative JavaScript
            news and techniques. Other websites focus only on articles. JavaScript News will present
            articles, podcasts and videos.
        </p>
        <h4>Who is it for?</h4>
        <p>
            Software Developers - developers working with JavaScript
        </p>
        <h4>Why build it?</h4>
        <p>
            <ul>
            <li>Capstone project of the <a href="https://www.coursera.org/specializations/full-stack">Full Stack Web Development specialization</a>
            <li>Something that keeps us updated with latest JavaScript trends
            <li>Long term interests to enhance the functionality and content of the website
            </ul>
        </p>
        <h4>Background Information</h4>
            <ul>
            <li><a href="http://idea.javascript-news.org/">Ideation Presentation</a>
            <li><a href="https://docs.google.com/document/d/1TC3ha331rixtr3KTis4Ll2YdlPtcgBF4rZm5L_fei50/edit?usp=sharing">Product Design Document</a>
            <li><a href="https://docs.google.com/document/d/1HcsCBAMbZQe8n8W5BwEbUOM74fEOCFVdWR9lyRaa7uU/edit?usp=sharing">Application Design</a>
            </ul>
        <h3>Thanks</h3>
        <p>
            Many thanks to Jogesh Muppala of <a href="https://www.ust.hk/">Hong Kong University of Science and Technology</a> for running the Coursera
            <a href="https://www.coursera.org/specializations/full-stack">Full Stack Web Development</a> specialization.
            <p>
            It was such a great specialization!
            </p>
        </p>
        <p> &nbsp;</p>
        <div class="well">
          <blockquote>
            <p>
              There are two kinds of software projects: those that fail, and those that turn into legacy horrors.
            </p>
            <footer>
              Peter Weinberger
            </footer>
          </blockquote>
        </div>
        <p> &nbsp;</p>
      </div>
    </div>
  </div>

<div class="section landing-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="text-center">Keep in touch?</h2>
                <form ng-submit="addMessage()" name="messageform" class="contact-form">
                    <div class="row">
                        <div class="col-md-6">
                            <label>Name</label>
                            <input class="form-control" placeholder="Name" ng-model="messageData.user" required>
                        </div>
                        <div class="col-md-6">
                            <label>Email</label>
                            <input class="form-control" placeholder="Email" type="email" ng-model="messageData.email" required>
                        </div>
                    </div>
                    <label>Subject</label>
                    <div class="row">
                        <div class="col-md-12">
                            <input class="form-control" placeholder="Subject" ng-model="messageData.subject" required>
                        </div>
                    </div>
                    <label>Message</label>
                    <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..." ng-model="messageData.message" required></textarea>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4">
                            <!-- ng-disabled="messageform.$invalid" -->
                            <button type="submit" class="btn btn-danger btn-block btn-lg btn-fill">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
